@using Discovercars.Domain.Entity
@{
    ViewData["Title"] = "Home Page";
}
@model Reservation

<div class="text-center">
    <h1 class="display-4"> Confirmation  number is @Model.ConfirmationNumber</h1>



</div>
